<div class="header">
  <h2><strong>Clientes</strong></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-header">
        <h3><i class="icon-bulb"></i> Crear | Modificar | Suspender <strong>Clientes</strong></h3>
      </div>
      <div class="panel-content p-t-0">
        <p> Favor de agregar todos los campos con *. Para modificar información, solo edita y da clic en el botón Editar.</p>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label">* Nombre Comercial / Razon Social</label>
            <input id="name" type="text" class="form-control" placeholder="Ingrese Nombre Comercial">
            <label class="form-label">Dirección</label>
            <input id="address" type="text" class="form-control" placeholder="Ingrese Dirección">
            <label class="form-label">Colonia</label>
            <input id="colony" type"text" class="form-control" placeholder="Ingrese Colonia">
            <label class="form-label">Estado</label>
            <input id="state" type="text" class="form-control" placeholder="Ingrese Estado">
            <label clas="form-label">* Teléfono</label>
            <input id="phone" type="text" class="form-control" placeholder="Ingrese Teléfono">
          </div>
          <div class="col-md-6">
            <label class="form-label">* Nombre de Contacto</label>
            <input id="contactName" type="text" class="form-control" placeholder="Ingrese Nombre de Contacto">
            <label class="form-label">RFC</label>
            <input id="rfc" type="text" class="form-control" placeholder="Ingrese RFC">
            <label class="form-label">C.P.</label>
            <input id="pc" type="text" class="form-control" placeholder="Ingrese C.P.">
            <label class="form-label">Ciudad</label>
            <input id="city" type="text" class="form-control" placeholder="Ingrese Ciudad">
            <label class="form-label">Celular</label>
            <input id="cellPhone" type="text" class="form-control" placeholder="Ingrese Celular">
          </div>
          <div class="col-md-12">
            <button onClick="onClickNew()" type="button" class="btn btn-success btn-square">Crear</button>
            <button onclick="onClickClients()" class="btn btn-dark m-t-5" data-toggle="modal" data-target="#modal-bootstrap-timepicker">Escoger Cliente</button>
            <button onClick="onClickModify()" type="button" class="btn btn-primary btn-square">Modificar</button>
            <button onClick="onClickDelete()" type="button" class="btn btn-danger btn-square">Eliminar</button>
          </div>
          <div id="response">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function onClickNew() {
  var name = document.getElementById('name').value;
  var address = document.getElementById('address').value;
  var colony = document.getElementById('colony').value;
  var state = document.getElementById('state').value;
  var phone = document.getElementById('phone').value;
  var contactName = document.getElementById('contactName').value;
  var rfc = document.getElementById('rfc').value;
  var pc = document.getElementById('pc').value;
  var city = document.getElementById('city').value;
  var cellPhone = document.getElementById('cellPhone').value;

  if (!name) {
    alert('Es obligatorio ingresar Nombre Comercial / Razon Social.');
  } else {
    if (phone === '' || contactName === '') {
      alert('Ingrese Nombre de Contacto y Telefono.');
    } else {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === 1) {
          document.getElementById('response').innerHTML = 'Procesando...';
        } else if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
          document.getElementById('response').innerHTML = xmlhttp.responseText;
        }
      };

      xmlhttp.open("GET", "links/clients.php?operation=new&name=" + name + "&address=" + address + "&colony=" + colony + "&state=" + state + "&phone=" + phone + "&contact_name=" + contactName + "&rfc=" + rfc + "&pc=" + pc + "&pc=" + pc + "&city=" + city + "&cell_phone=" + cellPhone);
      xmlhttp.send();

    }
  }
}

function onClickModify() {
  var id = document.getElementById('all_clients').value;
  if (!id || id === 'NA') {
    document.getElementById('response').innerHTML = "No se ha seleccionado ningun usuario";
  } else {
    var name = document.getElementById('name').value;
    var address = document.getElementById('address').value;
    var colony = document.getElementById('colony').value;
    var state = document.getElementById('state').value;
    var phone = document.getElementById('phone').value;
    var contactName = document.getElementById('contactName').value;
    var rfc = document.getElementById('rfc').value;
    var pc = document.getElementById('pc').value;
    var city = document.getElementById('city').value;
    var cellPhone = document.getElementById('cellPhone').value;
    if (phone === '' || contactName === '' || !name) {
      alert('Ingresa datos obligatorios.');
    } else {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === 1) {
          document.getElementById('response').innerHTML = 'Procesando...';
        } else if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
          document.getElementById('response').innerHTML = xmlhttp.responseText;
        }
      };

      xmlhttp.open("GET", "links/clients.php?operation=modify&name=" + name + "&address=" + address + "&colony=" + colony + "&state=" + state + "&phone=" + phone + "&contact_name=" + contactName + "&rfc=" + rfc + "&pc=" + pc + "&pc=" + pc + "&city=" + city + "&cell_phone=" + cellPhone + "&id=" + id);

      xmlhttp.send();
    }
  }
}

function onClickSelect() {
  var select = document.getElementById('all_clients').value;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function () {
    if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
      var res = xmlhttp.responseText.split(',');
      document.getElementById('name').value = res[0];
      document.getElementById('address').value = res[1];
      document.getElementById('colony').value = res[2];
      document.getElementById('state').value = res[3];
      document.getElementById('phone').value = res[4];
      document.getElementById('contactName').value = res[5];
      document.getElementById('rfc').value = res[6];
      document.getElementById('pc').value = res[7];
      document.getElementById('city').value = res[8];
      document.getElementById('cellPhone').value = res[9];
    }
  };

  xmlhttp.open("GET", "links/clients.php?operation=selectClient&id=" + select);
  xmlhttp.send();
}

function onClickClients() {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function () {
    if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
      document.getElementById('all_clients').innerHTML = xmlhttp.responseText;
    }
  };

  xmlhttp.open("GET", "links/clients.php?operation=clients");
  xmlhttp.send();
}

function onClickDelete() {
  var select = document.getElementById('all_clients').value;
  if (!select || select === 'NA') {
    document.getElementById('response').innerHTML = "No se ha seleccionado ningun usuario";
    } else {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
        document.getElementById('response').innerHTML = xmlhttp.responseText;
      }
    };

    xmlhttp.open("GET", "links/clients.php?operation=delete&id=" + select);
    xmlhttp.send();
  }
}
</script>
<div class="modal fade" id="modal-bootstrap-timepicker" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
        <h4 class="modal-title"><strong>Seleccion de </strong> Usuario</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="clients">Clientes</label>
              <select id="all_clients" class="form-control" data-search="true">
                <option value="NA">Cargando clientes</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-gray-light">
        <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancelar</button>
        <button onclick="onClickSelect()" type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
