<div class="header">
  <h2><strong>Credito y Cobranza</strong></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-header">
        <h3><i class="icon-bulb"></i> Segumiento </h3>
      </div>
      <div class="panel-content p-t-0">
        <p> Escribe el seguimiento y da clic en 'Agregar' para agendar seguimiento.</p>
        <div class="row">
          <div class="col-md-12 border-top" style="border-top:1px;">
            <div class="panel-content">
              <h3>Nombre del cliente / empresa</h3>
              <p>Limite de credito: $30,000.00</p>
              <table class="table table-striped tablet-tools">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Estatus</th>
                    <th>Seguimiento</th>
                    <th>Fecha Programada</th>
                    <th>Saldo</th>
                    <th>Factura</th>
                    <th>Usuario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>14/05/16</td>
                    <td>Convenido</td>
                    <td>El cliente se comprometio a dar todo el pago</td>
                    <td>18/05/16</td>
                    <td>$-2,930.00</td>
                    <td>F1059A</td>
                    <td>Mauricio</td>
                    <td><button type="button" class="btn btn-primary btn-square">Replica</button></td>
                  </tr>
                  <tr>
                    <td>14/05/16</td>
                    <td>Convenido</td>
                    <td>El cliente se comprometio a dar todo el pago</td>
                    <td>18/05/16</td>
                    <td>$-2,930.00</td>
                    <td>F1059A</td>
                    <td>Mauricio</td>
                    <td><button type="button" class="btn btn-primary btn-square">Replica</button></td>
                  </tr>
                  <tr>
                    <td>14/05/16</td>
                    <td>Convenido</td>
                    <td>El cliente se comprometio a dar todo el pago</td>
                    <td>18/05/16</td>
                    <td>$-2,930.00</td>
                    <td>F1059A</td>
                    <td>Mauricio</td>
                    <td><button type="button" class="btn btn-primary btn-square">Replica</button></td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Estatus</label>
                  <select multiple class="form-control" data-placeholder="Selecciona Estatus">
                    <optgroup label="Estatus">
                      <option value="convenido">Convenido</option>
                      <option value="promesa">Promesa pago</option>
                      <option value="NoContesta">No contesta</option>
                      <option value="llamar">Volver a llamar</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Seguimiento</label>
                  <textarea type="text" class="form-control">
                  </textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Fecha Seguimiento</label>
                  <input type="text" class="form-control" placeholder="Filtrar por Cliente">
                </div>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-square">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

</script>
