<div class="header">
  <h2><strong>Cotizador</strong></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-header">
        <h3><i class="icon-bulb"></i>Generar Cotizador </h3>
      </div>
      <div class="panel-content p-t-0">
        <p>Escoge los datos y da clic en Finalizar para generar, imprimir y enviar el documento.</p>
        <div class="row">
          <div class="col-md-12 border-top" style="border-top:1px;">
            <div class="panel-content">
              <table class="table table-striped tablet-tools ">
                <thead>
                  <tr>
                    <th>Tipo Producto</th>
                    <th>Codigo</th>
                    <th>Clave</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Cost Unit</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Llanta</td>
                    <td>19983127322</td>
                    <td>175-70-12-goodyear-CouldYear</td>
                    <td>Goodyear</td>
                    <td>Coulyear 123</td>
                    <td>Goodyear coulyear 123 175 70 12</td>
                    <td>3</td>
                    <td>175</td>
                    <td>525</td>
                  </tr>
                  <tr>
                    <td>Llanta</td>
                    <td>19983127322</td>
                    <td>175-70-12-goodyear-CouldYear</td>
                    <td>Goodyear</td>
                    <td>Coulyear 123</td>
                    <td>Goodyear coulyear 123 175 70 12</td>
                    <td>3</td>
                    <td>175</td>
                    <td>525</td>
                  </tr>
                  <tr>
                    <td>Llanta</td>
                    <td>19983127322</td>
                    <td>175-70-12-goodyear-CouldYear</td>
                    <td>Goodyear</td>
                    <td>Coulyear 123</td>
                    <td>Goodyear coulyear 123 175 70 12</td>
                    <td>3</td>
                    <td>175</td>
                    <td>525</td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>Numero de Guía</label>
                    <input type="text" class="form-control" placeholder="XXXXXXXX">
                    <label>Metodo de Pago</label>
                    <select multiple class="form-control" data-placeholder="Selecciona Estatus">
                      <option value="efectivo">Efectivo</option>
                      <option value="transferencia">Transferencia</option>
                      <option value="tarjeta">Tarjeta</option>
                      <option value="deposito">Deposito</option>
                    </select>
                    <label>Ultimos Digitos</label>
                    <input type="text" class="form-control" placeholder="Ej: 123">
                    <label class="form-label">Seguimiento</label>
                    <textarea type="text" class="form-control">
                    </textarea>
                  </div>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                  <h3>Total:</h3><h4>$525.00</h4>
                  <button type="button" class="btn btn-success btn-square">Finalizar</button>
                  <button type="button" class="btn btn-danger btn-square">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
