<div class="header">
  <h2><strong>Cotizador</strong></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-content clearfix">
        <div id="list" class="quick-link">
          <div class="row">
            <div class="icon">
              <i class="icon-bulb bg-green"></i>
            </div>
            <p class="text">Listado</p>
          </div>
        </div>
        <div id="products" class="quick-link">
          <div class="row">
            <div class="icon">
              <i class="icon-cloud-upload bg-aero"></i>
            </div>
            <p class="text">Productos</p>
          </div>
        </div>
        <div id="clients" class="quick-link">
          <div class="row">
            <div class="icon">
              <i class="icon-users bg-orange"></i>
            </div>
            <p class="text">Clientes</p>
          </div>
        </div>
        <div id="credit-collection" class="quick-link">
          <div class="row">
            <div class="icon">
              <i class="icon-calendar bg-blue"></i>
            </div>
            <p class="text">Credito y Cobranza</p>
          </div>
        </div>
        <div id="stock" class="quick-link">
          <div class="row">
            <div class="icon">
              <i class="icon-bar-chart bg-dark"></i>
            </div>
            <p class="text">Inventarios</p>
          </div>
        </div>
        <div id="users" class="quick-link">
          <div class="row">
            <div class="icon">
              <i class="icon-users bg-yellow"></i>
            </div>
            <p class="text">Usuarios</p>
          </div>
        </div>
        <div id="quoter" class="quick-link">
          <div class="row">
            <div class="icon">
              <i class="icon-basket bg-blue-dark"></i>
            </div>
            <p class="text">Cotizador</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset"> <span>Copyright <span class="copyright">©</span> 2016 </span> <span>Sturio</span>. <span>Soto GoodYear, todos los derechos reservados.. </span> </p>
  </div>
</div>
