<div class="header">
  <h2><strong>Productos</strong></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-header">
        <h3><i class="icon-bulb"></i> Crear | Modificar | Suspender <strong>Productos</strong></h3>
      </div>
      <div class="panel-content p-t-0">
        <p> Favor de agregar todos los campos con *. Para modificar información, solo edita y da clic en el botón Editar.</p>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group col-md-6">
              <label for="permisos">Tipo de Producto</label>
              <select id="typeProduct" class="form-control" name="favoriteNumber">
                <option value="llantas">Llantas</option>
                <option value="rines">Rines</option>
                <option value="productos">Productos y Accesorios</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
              <label class="form-label">Código de Barras</label>
              <input id="barcode" type="text" class="form-control" placeholder="Ingrese Código de Barras">
              <label class="form-label">Nombre</label>
              <input id="name" type="text" class="form-control" placeholder="Ingrese Nombre">
              <label class="form-label">Descripción</label>
              <input id="description" type="text" class="form-control" placeholder="Ingrese Descripción">
          </div>
          <div class="col-md-6">
              <label class="form-label">Clave</label>
              <input id="key" type="text" class="form-control" placeholder="Ingrese Clave">
              <label class="form-label">Marca</label>
              <input id="brand" type="text" class="form-control" placeholder="Ingrese Marca">
              <label class="form-label">Modelo</label>
              <input id="model" type="text" class="form-control" placeholder="Ingrese Modelo">
          </div>
          <div class="col-md-12 border-top" style="border-top:1px;">
            <div class="col-md-6">
              <h3>Solo para <strong>Llantas</strong></h3>
                <label class="form-label">Medida</label>
                <input id="measure" type="text" class="form-control" placeholder="Ingrese Medida">
                <label class="form-label">Treadware</label>
                <input id="treadware" type="text" class="form-control" placeholder="Ingrese Treadware">
                <label class="form-label">Ind Carga</label>
                <input id="loadIndex" type="text" class="form-control" placeholder="Ingrese Ind Carga">
                <label class="form-label">Ind Velocidad</label>
                <input id="loadSpeed" type="text" class="form-control" placeholder="Ingrese Ind Velocidad">
            </div>
            <div class="col-md-6">
              <h3>Precios de <strong>Venta</strong></h3>
                <label class="form-label">Precio Venta Publico</label>
                <input id="retailPrice" type="text" class="form-control" placeholder="Ingrese Precio Venta Publico">
                <label class="form-label">Precio Mayore</label>
                <input id="wholesalePrice" type="text" class="form-control" placeholder="Ingrese Precio Mayore">
                <label class="form-label">Precio Especial</label>
                <input id="specialPrice" type="text" class="form-control" placeholder="Ingrese Precio Especial">
            </div>
          </div>
          <div class="col-md-12">
            <button onClick="onClickNew()" type="button" class="btn btn-primary btn-square">Crear</button>
            <button class="btn btn-dark m-t-5" data-toggle="modal" data-target="#modal-bootstrap-timepicker">Escoger Cliente</button>
            <button onClick="onClickModify()" type="button" class="btn btn-primary btn-square">Modificar</button>
            <button onClick="onClickDelete()" type="button" class="btn btn-danger btn-square">Eliminar</button>
          </div>
          <div id="response">

          </div>
          <div id="divProducts" class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var id_select = 'NA';
function onClickNew() {
  var typeProduct = document.getElementById('typeProduct').value;
  var barcode = document.getElementById('barcode').value;
  var name = document.getElementById('name').value;
  var description = document.getElementById('description').value;
  var key = document.getElementById('key').value;
  var brand = document.getElementById('brand').value;
  var model = document.getElementById('model').value;
  var measure = document.getElementById('measure').value;
  var treadware = document.getElementById('treadware').value;
  var loadIndex = document.getElementById('loadIndex').value;
  var loadSpeed = document.getElementById('loadSpeed').value;
  var retailPrice = document.getElementById('retailPrice').value;
  var wholesalePrice = document.getElementById('wholesalePrice').value;
  var specialPrice = document.getElementById('specialPrice').value;

  if (!name) {
    alert('Favor de llenar nombre.');
  } else {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState === 1) {
        document.getElementById('response').innerHTML = 'Procesando...';
      } else if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
        document.getElementById('response').innerHTML = xmlhttp.responseText;
      }
    };

    xmlhttp.open("GET", "links/products.php?operation=new&type_product=" + typeProduct + "&barcode=" + barcode + "&name=" + name + "&description=" + description + "&key=" + key + "&brand=" + brand + "&model=" + model + "&measure=" + measure + "&treadware=" + treadware + "&load_index=" + loadIndex + "&load_speed=" + loadSpeed + "&retail_price=" + retailPrice + "&wholesale_price=" + wholesalePrice + "&special_price=" + specialPrice);
    xmlhttp.send();
  }
}

function onClickModify() {
  if (!id_select || id_select === 'NA') {
    document.getElementById('response').innerHTML = "No se ha seleccionado ningun usuario";
  } else {
    var barcode = document.getElementById('barcode').value;
    var name = document.getElementById('name').value;
    var description = document.getElementById('description').value;
    var key_ = document.getElementById('key').value;
    var brand = document.getElementById('brand').value;
    var model = document.getElementById('model').value;
    var measure = document.getElementById('measure').value;
    var treadware = document.getElementById('treadware').value;
    var loadIndex = document.getElementById('loadIndex').value;
    var loadSpeed = document.getElementById('loadSpeed').value;
    var retailPrice = document.getElementById('retailPrice').value;
    var wholesalePrice = document.getElementById('wholesalePrice').value;
    var specialPrice = document.getElementById('specialPrice').value;
    if (name === '' || key_ === '') {
      alert('Ingresa datos obligatorios.');
    } else {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === 1) {
          document.getElementById('response').innerHTML = 'Procesando...';
        } else if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
          document.getElementById('response').innerHTML = xmlhttp.responseText;
        }
      };

      xmlhttp.open("GET", "links/products.php?operation=modify&barcode=" + barcode + "&name=" + name + "&description=" + description + "&key_=" + key_ + "&brand=" + brand + "&model=" + model + "&measure=" + measure + "&treadware=" + treadware + "&load_index=" + loadIndex + "&load_speed=" + loadSpeed + "&retail_price=" + retailPrice + "&wholesale_price=" + wholesalePrice + "&special_price=" + specialPrice + "&id=" + id_select);

      xmlhttp.send();
    }
  }
}

function onClickSelect(id_product) {
  id_select = id_product;
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function () {
    if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
      var res = xmlhttp.responseText.split(',');
      document.getElementById('barcode').value = res[0];
      document.getElementById('name').value = res[1];
      document.getElementById('description').value = res[2];
      document.getElementById('key').value = res[3];
      document.getElementById('brand').value = res[4];
      document.getElementById('model').value = res[5];
      document.getElementById('measure').value = res[6];
      document.getElementById('treadware').value = res[7];
      document.getElementById('loadIndex').value = res[8];
      document.getElementById('loadSpeed').value = res[9];
      document.getElementById('retailPrice').value = res[10];
      document.getElementById('wholesalePrice').value = res[11];
      document.getElementById('specialPrice').value = res[12];
    }
  };

  xmlhttp.open("GET", "links/products.php?operation=selectProduct&id=" + id_product);
  xmlhttp.send();
}

function onClickBrowserBarcode() {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function () {
    if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
      document.getElementById('divProducts').innerHTML = xmlhttp.responseText;
    }
  };

  var BProduct = document.getElementById('barcodeProduct').value;
  xmlhttp.open("GET", "links/products.php?operation=browserBarcode&content=" + BProduct);
  xmlhttp.send();
}

function onClickBrowserName() {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function () {
    if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
      document.getElementById('divProducts').innerHTML = xmlhttp.responseText;
    }
  };

  var BProduct = document.getElementById('nameProduct').value;
  xmlhttp.open("GET", "links/products.php?operation=browserName&content=" + BProduct);
  xmlhttp.send();
}

function onClickDelete() {
  var select = document.getElementById('all_products').value;
  if (!select || select === 'NA') {
    document.getElementById('response').innerHTML = "No se ha seleccionado ningun usuario";
  } else {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState === 4 && xmlhttp.status == 200) {
        document.getElementById('response').innerHTML = xmlhttp.responseText;
      }
    };

    xmlhttp.open("GET", "links/products.php?operation=delete&id=" + select);
    xmlhttp.send();
  }
}
</script>
<div class="modal fade" id="modal-bootstrap-timepicker" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
        <h4 class="modal-title"><strong>Seleccion de </strong> Producto</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <h3>Escribe tu busqueda, y da clic en Buscar.</h3>
          <div class="col-md-6">
            <label class="form-label">Nombre</label>
            <input id="nameProduct" type="text" class="form-control" placeholder="Ingrese el nombre del producto...">
            <button onclick="onClickBrowserName()" type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Seleccionar</button>
          </div>
          <div class="col-md-6">
            <label class="form-label">Código de Barras</label>
            <input id="barcodeProduct" type="text" class="form-control" placeholder="Ingrese el código de barras...">
            <button onclick="onClickBrowserBarcode()" type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Seleccionar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
