<div class="header">
  <h2><strong>Cotizador</strong></h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-header">
        <h3><i class="icon-bulb"></i>Cotizador </h3>
      </div>
      <div class="panel-content p-t-0">
        <p>Escoge el cliente, escoge los productos y las cantidades y da clic en el Botón segun lo que se desee hacer.</p>
        <div class="row">
          <div class="col-md-12 border-top" style="border-top:1px;">
            <div class="panel-content">
              <div class="col-md-12">
                <h4>Cliente</h4>
                <div class="col-md-4">
                  <label>Nombre de Cliente</label>
                  <input type="text" class="form-control" placeholder="Filtrar por Nombre de Cliente">
                </div>
                <div class="col-md-8">
                  <p class="form-label"><b>Credito:</b> 30,000</p>
                  <p class="form-label"><b>Tipo:</b> Mayoreo</p>
                </div>
              </div>
              <div class="col-md-12 border-top">
                <h4>Productos</h4>
                <div class="col-md-4">
                  <label>Codigo de Barras</label>
                  <input type="text" class="form-control" placeholder="Filtrar por Codigo de Barras">
                </div>
                <div class="col-md-3">
                  <label>Clave</label>
                  <input type="text" class="form-control" placeholder="Filtrar por Clave">
                </div>
                <div class="col-md-3">
                  <label>Nombre de Producto</label>
                  <input type="text" class="form-control" placeholder="Filtrar por Nombre de Producto">
                </div>
                <div class="col-md-2">
                  <br  />
                  <button type="button" class="btn btn-primary btn-square">Buscar</button>
                </div>
              </div>
              <div class="col-md-12 border-top">
                <table class="table table-striped tablet-tools ">
                  <thead>
                    <tr>
                      <th>Tipo Producto</th>
                      <th>Codigo</th>
                      <th>Clave</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Nombre</th>
                      <th>Precio Publico</th>
                      <th>Precio Mayoreo</th>
                      <th>Precio Especial</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Llanta</td>
                      <td>19983127322</td>
                      <td>175-70-12-goodyear-CouldYear</td>
                      <td>Goodyear</td>
                      <td>Coulyear 123</td>
                      <td>Goodyear coulyear 123 175 70 12</td>
                      <td><button type="button" class="btn btn-primary btn-square">$175</button></td>
                      <td><button type="button" class="btn btn-primary btn-square">$165</button></td>
                      <td><button type="button" class="btn btn-primary btn-square">$145</button></td>
                    </tr>
                    <tr>
                      <td>Llanta</td>
                      <td>19983127322</td>
                      <td>175-70-12-goodyear-CouldYear</td>
                      <td>Goodyear</td>
                      <td>Coulyear 123</td>
                      <td>Goodyear coulyear 123 175 70 12</td>
                      <td><button type="button" class="btn btn-primary btn-square">$175</button></td>
                      <td><button type="button" class="btn btn-primary btn-square">$165</button></td>
                      <td><button type="button" class="btn btn-primary btn-square">$145</button></td>
                    </tr>
                    <tr>
                      <td>Llanta</td>
                      <td>19983127322</td>
                      <td>175-70-12-goodyear-CouldYear</td>
                      <td>Goodyear</td>
                      <td>Coulyear 123</td>
                      <td>Goodyear coulyear 123 175 70 12</td>
                      <td><button type="button" class="btn btn-primary btn-square">$175</button></td>
                      <td><button type="button" class="btn btn-primary btn-square">$165</button></td>
                      <td><button type="button" class="btn btn-primary btn-square">$145</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-content p-t-0">
        <div class="row">
          <div class="col-md-12 border-top">
            <table class="table table-striped tablet-tools ">
              <thead>
                <tr>
                  <th>Quitar</th>
                  <th>Tipo Producto</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Nombre</th>
                  <th>Precio x Pieza</th>
                  <th>Cantidad</th>
                  <th>Sub Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><button type="button" class="btn btn-danger btn-square">X</button></td>
                  <td>Llanta</td>
                  <td>Goodyear</td>
                  <td>Coulyear 123</td>
                  <td>Goodyear coulyear 123 175 70 12</td>
                  <td>$175</td>
                  <td>3</td>
                  <td>$525</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-danger btn-square">X</button></td>
                  <td>Llanta</td>
                  <td>Goodyear</td>
                  <td>Coulyear 123</td>
                  <td>Goodyear coulyear 123 175 70 12</td>
                  <td>$175</td>
                  <td>3</td>
                  <td>$525</td>
                </tr>
                <tr>
                  <td><button type="button" class="btn btn-danger btn-square">X</button></td>
                  <td>Llanta</td>
                  <td>Goodyear</td>
                  <td>Coulyear 123</td>
                  <td>Goodyear coulyear 123 175 70 12</td>
                  <td>$175</td>
                  <td>3</td>
                  <td>$525</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <h3>Total:</h3><h2>$525.00</h2>
            <button type="button" class="btn btn-success btn-square">Factura</button>
            <button type="button" class="btn btn-primary btn-square">Remision</button>
            <button type="button" class="btn btn-warning btn-square">Credito</button>
            <button type="button" class="btn btn-danger btn-square">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
